:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #297EA6;
  --secundary: #001829;
  --third: #038373;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
.title {
  text-align: center;
  color: blue;
  font-size: 3.8rem;
}
.title span {
  font-size: 2rem;
}